*.iml
.gradle
Lab3_8/target
Lab3_8/.idea/target
Lab3_8/.idea/libraries/
Lab3_8/.idea/workspace.xml
Lab3_8/.idea/tasks.xml
Lab3_8/.idea/.name
Lab3_8/.idea/compiler.xml
Lab3_8/.idea/copyright/profiles_settings.xml
Lab3_8/.idea/encodings.xml
Lab3_8/.idea/misc.xml
Lab3_8/.idea/modules.xml
Lab3_8/.idea/scopes/scope_settings.xml
Lab3_8/.idea/vcs.xml

